.navbar{ 
    background: #ef5350;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav_logo img{
    height: 50px;
}

.nav_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;      
}

.nav_items button{
  height: 100%;
  width: 100px;
  margin: auto;
  border: none;
  background-color: transparent;
  color: #fff;
  position: relative;
}
.nav_items button:hover{
  background-color: #c62828;
  height: 60px;
}

.nav_toggle{
  display: none;
}

@media (max-width: 1023px) {
  .navbar{
    padding-left: 25%;
    padding-right: 0;
  }
  .nav_items{
    position: absolute;
    top: 60px;
    left: 0;
    background: #ef5350;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    height: 100px;
    transform: translateX(-100%);
    transition: 0.3s ease all; 
    padding: 20px 0;
  }

  .nav_items.open{
    transform: translateX(0) !important;
  }

  .nav_toggle{
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }

  .nav_toggle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
    display: none;
  }
  .nav_toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}

