.container {
    display: flex;
    height: 100vh;
    color: #f8f8f8;
    justify-content: space-between;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52%;
    color: #f8f8f8;
    background: rgba(0, 0, 0, 0.918);
}

.container-info p {
    font-size: 25px;
}

.container-info h3 {
    font-size: 50px;
    margin: 10px 0 25px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    color: #050505;
    background: #f8f8f8;
    width: 100px;

    padding: 10px 15px 13px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    border: 1px solid yellow;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(125, 125, 255, 0.5);
    border: 1px solid yellow;
}

.container-img {
    height: 100%;
}

.container-responsive {
    display: none;
}

@media screen and (max-width: 1023px) {
    .container {
        display: none;
    }

    .container-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.918);
        color: #f8f8f8;
        height: 100vh;
        padding: 0 25px;
    }

    .container-info {
        display: none;
    }

    .container-img {
        display: none;
    }

    .text {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .tittle {
        font-size: 50px;
        margin: 10px 0 25px 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .button {
        color: #050505;
        background: #f8f8f8;
        width: 100px;
        padding: 10px 15px 13px 15px;
        text-decoration: none;
        text-align: center;
        border-radius: 8px;
        border: 1px solid yellow;
    }

    .img {
        width: 150px;
        margin-top: 25px;
    }
}